.venv/
venv/
env/

*.DS_Store
*.pyc
__pycache__/

.idea/

db.sqlite3

*.log
*.pot
*.py[cod]
*.swp
*.swo
.mypy_cache/
.pytest_cache/

*.env
docker-compose.override.yml

*/migrations/

staticfiles/
media/
